<configuration>
  <system.webServer>

    <!-- indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- adds server.js to the default document list to allow 
    URLs that only specify the application root location, 
    e.g. http://mysite.azurewebsites.net/ -->
    <defaultDocument enabled="true">
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>

    <!-- Ensure all errors are sent to the node.js application for better error handling -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Ensure the Node.js application can handle all URLs -->
    <rewrite>
      <rules>
        <rule name="NodeJS" stopProcessing="true">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
